<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byType">

	<import resource="preprocessors-config.xml" />
	<import resource="providers-config.xml" />
	<import resource="mappers-config.xml" />

	<bean id="sqlDumper" class="com.velor.SqlDumperPropertyPlaceholderHelper">
		<property name="locations">
			<list>
				<value>properties/config.properties</value>
				<value>properties/create-statements.xml</value>
				<value>properties/preprocess-statements.xml</value>
				<value>properties/select-route-statements.xml</value>
				<value>properties/select-routegraph-statements.xml</value>
				<value>properties/select-poi-statements.xml</value>
				<value>properties/system-statements.xml</value>
				<value>properties/select-tile-statements.xml</value>
			</list>
		</property>
		<property name="ignoreUnresolvablePlaceholders" value="false"></property>
		<property name="dmpsqlDir" value="${dmp_sql_dir}"></property>
	</bean>


	<bean class="com.velor.VelorProcessor">
		<property name="jsonProcessor" ref="json2databaseProcessor"></property>
		<property name="routePreprocessor" ref="routePreprocessor"></property>
		<property name="downloader" ref="jsonDownloader"></property>
		<property name="sqlDumper" ref="sqlDumper"></property>
		<property name="routeRenderer" ref="routeRenderer"></property>
		<property name="databaseName" value="${database}"></property>
		<property name="tileListProcessor" ref="tileListPreprocessor"></property>
		<property name="daoProcessor" ref="daoProcessor"></property>	
	</bean>

	<bean id="projection" class="com.velor.algorithms.geodata.SphericalMercator"></bean>
	<bean id="dummyContext" class="android.content.Context"></bean>
	<bean id="database" class="android.database.sqlite.SQLiteDatabase"></bean>


	<bean id="databaseManager" class="com.velor.DatabaseManager">
		<property name="database" ref="database"></property>
		<property name="dropTableSql">
			<array>
				<value>DROP TABLE IF EXISTS ${table_cities};</value>
				<value>DROP TABLE IF EXISTS ${table_categories};</value>
				<value>DROP TABLE IF EXISTS ${table_types};</value>
				<value>DROP TABLE IF EXISTS ${table_pois};</value>
				<value>DROP TABLE IF EXISTS ${table_routesections};</value>
				<value>DROP TABLE IF EXISTS ${table_routes};</value>
				<value>DROP TABLE IF EXISTS ${table_routedata};</value>
				<value>DROP VIEW IF EXISTS ${view_intersections};</value>
				<value>DROP TABLE IF EXISTS ${table_edges};</value>
				<value>DROP TABLE IF EXISTS ${table_tiles};</value>
				<value>DROP TABLE IF EXISTS ${table_system};</value>
			</array>
		</property>
		<property name="createSql">
			<array>
				<value>${create_city_sql}</value>
				<value>${create_poi_type_category_sql}</value>
				<value>${create_poi_types_sql}</value>
				<value>${create_pois_sql}</value>
				<value>${create_route_sections_sql}</value>
				<value>${create_routes_sql}</value>
				<value>${create_route_data_sql}</value>
				<value>${create_intersections_sql}</value>
				<value>${create_edges_sql}</value>
				<value>${create_tiles_sql}</value>
				<value>${create_internal_sql}</value>
			</array>
		</property>
	</bean>

</beans>


